/* COLORES */
$color1: #8a6212;
$color2: #ecedee;
$color3: #ffffff;
$color4: #8f0b0b;

$navbar-bg-color: $color3;
$navbar-text-color: $color4;


$navbar-toggler-display: inline-block !default;
$navbar-item-spacing: 1000px; 

.navbar-spacing .nav-item {
    margin-right: $navbar-item-spacing;
  }