<div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <h1>Europa conquista y ocupa América</h1>
    
        <div class="paragraph">
          <p>
            Europa conquistó y ocupó América durante el período de la colonización, que tuvo lugar principalmente entre los siglos XV y XVIII. Este proceso fue impulsado por varias potencias europeas, como España, Portugal, Inglaterra, Francia y los Países Bajos, que buscaban expandir su influencia, riqueza y territorio en el Nuevo Mundo.
          </p>
        </div>
          
        <div class="paragraph">
          <p>
            La llegada de los europeos a América tuvo un impacto significativo en las culturas indígenas y en la configuración política, social y económica del continente. Los colonizadores europeos impusieron su dominio mediante la conquista militar, el establecimiento de colonias y la explotación de los recursos naturales de América.
          </p>
        </div>    
        <div class="paragraph">
          <p>
            La conquista y ocupación europea también tuvo consecuencias devastadoras para las poblaciones indígenas de América, que sufrieron la violencia, la explotación y las enfermedades traídas por los europeos. Muchas culturas indígenas fueron diezmadas o completamente aniquiladas, y sus tierras y recursos fueron apropiados por los colonizadores.
          </p>
        </div>
        <div class="paragraph">
          <p>
            El legado de la conquista y ocupación europea en América perdura hasta el día de hoy. Las sociedades latinoamericanas son el resultado de la mezcla de culturas indígenas, europeas y africanas, y la influencia europea se puede ver en muchos aspectos de la vida en el continente, incluyendo el idioma, la religión, la política y la economía.
          </p>
        </div>
      
      <div class="container-video">
        <div class="embed-responsive embed-responsive-16by9 w-100">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DhQQJB_v0B4" allowfullscreen></iframe>
        </div>
      </div>
      </div>
      <div class="col-4">
        <div class="list-group">
            <h4>MÁS ARTÍCULOS SOBRE EUROPA...</h4>
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                Europa: Desde los orígenes hasta la caída del Imperio Romano
            </a>
            <a href="#" class="list-group-item list-group-item-action">La Edad Media en Europa: Feudalismo, Cruzadas y Renacimiento</a>
            <a href="#" class="list-group-item list-group-item-action">Revoluciones y Guerras: Europa en la Era Moderna</a>
            <a href="#" class="list-group-item list-group-item-action">El Siglo XX: Guerras Mundiales y Transformaciones en Europa</a>
            <a href="#" class="list-group-item list-group-item-action" >La Unión Europea: Integración y Desafíos en el Siglo XXI</a>
          </div>
      </div>
    </div>
  </div>