<div class="container-fluid">
  <div class="row">
    <div class="col-7 ml-6">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <h2 class="carousel_proy-title">Proyectos de secundaria</h2>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="/media/proyectos/proyecto1.jpg" class="carousel-image_proy" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="/media/proyectos/proyecto2.jpg" class="carousel-image_proy" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img src="/media/proyectos/proyecto3.jpg" class="carousel-image_proy" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 ml-6">
      <div class="about-container">
        <h3>About Me</h3>
        <img src="/media/miscelanea/rochy1.jpg" class="about-image">
        <p class="w-100">Mi nombre es Rocío, soy una apasionada profesora de historia con más de 10 años de experiencia en la enseñanza. Desde muy joven descubrí mi amor por la historia y me convertí en una ávida investigadora de hechos pasados. Lo que más me fascina de la historia es poder transmitir ese conocimiento a mis alumnos y ver cómo se conectan con el pasado.

          Disfruto enormemente dar clases y compartir mis conocimientos con mis estudiantes. Me encanta utilizar métodos dinámicos y creativos para que las lecciones cobren vida y se conviertan en experiencias memorables. Mi objetivo es despertar la curiosidad y el interés en mis alumnos, para que descubran la relevancia y el impacto que la historia tiene en nuestras vidas.
          
          Además de mi pasión por la enseñanza, soy madre de dos hijos maravillosos. Ser madre me ha brindado una perspectiva aún más profunda sobre la importancia de la educación y el papel fundamental que desempeñamos como maestros en la formación de las nuevas generaciones. El equilibrio entre mi rol como madre y profesora es un desafío constante, pero me motiva a ser una mejor educadora y a transmitir valores de responsabilidad, resiliencia y perseverancia a mis alumnos.</p>
      </div>

    </div>
  </div>
</div>