<footer class="footer bg-custom-color text-light custom-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h5>Redes Sociales</h5>
          <ul class="list-inline social-icons">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5>Contacto</h5>
          <p>Teléfono: 123-456-7890
             Email: rocio@example.com</p>
        </div>
      </div>
    </div>
  </footer>
  